__pycache__
.vscode
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.venv_*
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
.env
.env.wandb
ray_tmp/*
models/*
bsub_outputs/*
tmp/*
PKG-INFO
*.egg-info/
/models
*.pdf
*.png
prompt_pools.local/
